.container {
  padding: 2rem 0;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title button {
  color: white;
  background-color: var(--color-dark);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: none;
  outline: none;
}
