@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap");
.card {
  font-family: monospace;
  cursor: pointer;
  width: 100%;
  height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}

.card__part {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 190px;
  background: rgb(29, 35, 47);
  background: linear-gradient(
    40deg,
    rgba(29, 35, 47, 1) 30%,
    rgba(18, 25, 33, 1) 30%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;

  -webkit-transition: all 1.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 1.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 1.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 1.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card__front {
  font-family: "Exo", sans-serif;
  padding: 1.5rem;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
}

.card__back {
  font-family: "Exo", sans-serif;
  padding: 1.5rem 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}

.card__black_line {
  margin: 1rem 0;
  height: 38px;
  background-color: #303030;
}

.card__logo {
  width: 45px;
}

.card__front_logo {
  position: absolute;
  top: 18px;
  right: 18px;
}
.card__square {
  border-radius: 5px;
  height: 30px;
}

.card_number {
  display: block;
  width: 100%;
  word-spacing: 4px;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  overflow: hidden;
  white-space: nowrap;
}

.card__space75 {
  width: 75%;
  float: left;
}

.card__space25 {
  width: 25%;
  float: left;
}

.card__label {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

.card__info {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow: hidden;
}

.card__name {
  width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.card__back_content {
  padding: 0.5rem 1.5rem 0;
}
.card__secret_last {
  color: #303030;
  text-align: right;
  margin: 0;
  font-size: 1.4rem;
}

.card__secret {
  padding: 0.5rem 1.2rem;
  background-color: #fff;
  position: relative;
}

.card__secret:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 42px);
  border-radius: 4px;
  background: repeating-linear-gradient(
    45deg,
    #ededed,
    #ededed 5px,
    #f9f9f9 5px,
    #f9f9f9 10px
  );
}

.card__back_logo {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 40px;
}

.card__back_square {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.card:hover .card__front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.card:hover .card__back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}
