/* header */
.container {
  background-color: var(--color-dark);
  color: white;
  border-radius: 20px;
  padding: 2rem;
}

.headerCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.cartBtn {
 display: flex;
}

.cartBtn button {
  color: var(--color-dark);
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
}

.settings {
  padding: 0 1rem !important;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .container {
    padding: 2rem 3rem;
  }
  
.cartBtn button {
  padding: 1rem 2rem;
}
}

/* Cart body */

.bodyCart {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  display: none;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.description h3 {
  width: 30vw;
  max-width: 250px;
  min-width: 120px;
  white-space: normal;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.amount {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 1.5rem;
}

.amount > * {
  flex-grow: 1;
}

.amount :first-child {
  margin-right: 2rem;
}

.amount h3 {
  width: 18vw;
  max-width: 250px;
  min-width: 120px;
  font-size: 2.3rem;
  white-space: normal;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.value span {
  color: var(--gray);
  font-size: 1.7rem;
}

@media screen and (min-width: 768px) {
  .bodyCart {
    justify-content: space-between;
  }
  .cart {
    display: block;
    width: 50%;
    min-width: 300px;
    max-width: 360px;
  }
  .description {
    flex-wrap: 1;
    margin-left: 3rem;
  }
}

.cartIcons {
  display: flex;
  margin-top: 2rem;
}

.cartIcons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  color: var(--gray);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--gray);
  border-radius: 10px;
}
.cartIcons button:not(:last-child) {
  margin-right: 1.5rem;
}

/* box */
.box__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 20px;
  flex-grow: 1;
  margin-top: 1rem;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 7%);
}

.arrowIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.arrowIcon button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2.5rem;
  margin-right: 1rem;
  border: none;
  outline: none;
  cursor: default;
}

.income button {
  color: var(--green);
  background-color: rgba(66, 232, 116, 0.2);
}
.income h2 {
  color: var(--green);
}

.expense button {
  color: var(--orange);
  background-color: rgba(255, 156, 11, 0.2);
}
.expense h2 {
  color: var(--orange);
}

@media screen and (min-width: 576px) {
  .box__Container {
    flex-direction: row;
    justify-content: space-between;
  }
  .income {
    margin-right: 2rem;
  }
}