/* header */
.container {
  background-color: var(--color-dark);
  color: white;
  border-radius: 20px;
  padding: 2rem 1.5rem;
}

.headerCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartBtn {
  display: flex;
}

.cartBtn button {
  color: var(--color-dark);
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  outline: none;
}

.settings {
  padding: 1rem !important;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cart body */

.bodyCart {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.cart {
  flex-grow: 1;
  max-width: 340px;
}

.description {
  display: none;
  overflow: hidden;
}
.description h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 25vw;
}

@media screen and (min-width: 576px) {
  .bodyCart {
    justify-content: space-between;
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 45%;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem 3rem;
  }
  .description {
    width: 50%;
    margin: 0 2.5rem;
  }
}

.amount {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  overflow: hidden;
}

.amount > * {
  margin-right: 3rem;
}

.amount h3 {
  width: 12vw;
  font-size: 2.3rem;
  white-space: normal;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.value span {
  color: var(--gray);
  font-size: 1.7rem;
}

.cartIcons {
  display: flex;
  margin-top: 2rem;
}

.cartIcons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  color: var(--gray);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--gray);
  border-radius: 10px;
}
.cartIcons button:not(:last-child) {
  margin-right: 1.5rem;
}

/* box */
.box__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  flex-grow: 1;
  margin: 0.5rem 0;
}

.arrowIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.arrowIcon h2 {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 40vw;
  margin-right: 0.5rem;
}

.arrowIcon button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2.5rem;
  margin-right: 1rem;
  border: none;
  outline: none;
  cursor: default;
}

.income button {
  color: var(--green);
  background-color: rgba(66, 232, 116, 0.2);
}
.income h2 {
  color: var(--green);
}

.expense button {
  color: var(--orange);
  background-color: rgba(255, 156, 11, 0.2);
}
.expense h2 {
  color: var(--orange);
}

@media screen and (min-width: 576px) {
  .box__Container {
    flex-direction: row;
    justify-content: space-between;
  }
  .income {
    margin-right: 2rem;
  }
  .arrowIcon h2 {
    display: none;
  }
}

.tooltip {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem !important;
  padding: 0.5rem 1rem !important;
}
