.app {
  background-color: var(--body-color);
  width: 100%;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 100%;
  max-width: 1500px;
  padding: 1rem 0;
  margin: auto;
}
.nav {
  display: none;
}
.main {
  height: 100%;
  flex-grow: 1;
}

@media screen and (min-width: 992px) {
  .nav {
    display: block;
    height: 100%;
    width: 230px;
  }
  .container {
    width: 98%;
    height: 100%;
  }
}

.tooltip {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem !important;
  padding: 0.5rem 1rem !important;
}

