.app {
  background-color: var(--body-color);
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  height: 100%;
  width: auto;
  border: 1px solid black;
}
.main {
  height: 100%;
  width: 60%;
  border: 1px solid black;
}
.aside {
  height: 100%;
  width: 20%;
  border: 1px solid black;
}
