@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --body-color: #f6f6f6;
  --color-dark: #080807;
  --gray: #e2e8f0;
  --green: #42e874;
  --orange: #ff9c0b;
  --color: #443d3a;
  --color: #c3bdff;
  --color: #8c7875;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--body-color);
  font-size: 1.8rem;
  font-weight: 500;
}

button,
input {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 2.2rem;
}

@media screen and (min-width: 768px) {
  body,
  button,
  input {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 3.5rem;
  }
}
