.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.title button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.8rem;
  margin-right: 1rem;
  border: none;
  outline: none;
  cursor: default;
}

.title h4 {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 40vw;
}

.amount {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20vw;
  margin-left: 0.5rem;
}

.title span {
  color: var(--gray);
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.income button {
  color: var(--green);
  background-color: rgba(66, 232, 116, 0.2);
}

.expense button {
  color: var(--orange);
  background-color: rgba(255, 156, 11, 0.2);
}

.trash {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  background-color: rgba(255, 255, 255, 0);
  color: var(--dark);
  font-size: 2rem;
}
